<!-- Footer -->
<footer>
	<hr>
  <div class="row text-center copyright reportbug">
    Copyright © 2015 - UMass Bookshare | <a href="https://github.com/UMass-Bookshare/UMass-Bookshare/issues">Report Bug</a>
  </div>
</footer>

