
<div class="col-xs-6 col-sm-2 placeholder">
  <img data-src="holder.js/200x200/auto/sky" class="img-thumbnail" alt="200x200" src="<%=data.cover%>" data-holder-rendered="true">
  <h4><%=data.title%></h4> <!--Get title-->
  <span class="text-muted"><%=data.author%></span> <!--Get Author-->
</div> <!--col-xs-6 col-sm-2 placeholder-->
