.thumbnail > img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.hideoverflow {
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.descriptionoverflow {
	height: 75px;
	overflow-y:scroll;
}

/*CAROUSEL STUFF*/
.carousel-inner > .item > img {
	height:300px;
	width:800px;
}

.pin > img {
	height: 275px;
	width: 200px;
}