<!-- views/login.ejs -->
<!DOCTYPE html>
<html><head>
	<title>FAQ</title>
	<% include includes/header.ejs %>
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> --> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="/stylesheets/help.css" rel="stylesheet" type="text/css"/>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

	<% include partials/navbar.ejs %>
	<div class="container-fluid">

		  <div class="row about-section">
        <div class="col-sm-6 col-md-8 col-md-offset-2">
          <br>
          <div class="panel panel-default fadeIn">
            <div class="panel-heading" style="text-align: center; font-size:25px"><b>What is UMass Bookshare?</b></div>
            <div class="panel-body panel-transparent">
              <p>UMass Bookshare aims to provide a more <b>convenient, efficient</b> way for students like us to get the books they need! Some students use Facebook groups, but it is highly ineffective. UMass BookShare will allow students to get their books more quickly as they are using an application that is devoted to the sharing of books and because all of the sellers are located on the <b>UMass campus</b>. It is cost-effective because students will not have to rely on the Textbook Annex and other students may be more sympathetic to the high cost of books. The application is also unique in that it allows students to share books with each other for <b>short periods</b> of time, rather than an entire semester. This is for those students who buy a textbook, only to use it once or twice! UMass BookShare is also a more <b>sustainable</b> option as it eliminates the need for shipping and packaging.</p>
            </div>
          </div>
        </div>

    <div class="col about-section">  
      <div class="col-sm-6 col-md-8 col-md-offset-2">
        <div class="panel panel-default slideInRight">
          <div class="panel-heading" style="text-align: center; font-size:20px"><b>Buy, Sell, Rent</b></div>
          <div class="panel-body panel-transparent">
            <p id="createlisting">UMass Bookshare allows you to buy, sell, and even rent your books. It is all done easily by filling out the simple create listing form! To make a listing, all you have to do is create an account and you're reaady to take advantage of all that UMass Bookshare has to offer!</p>
          </div>
        </div>
      </div>
    </div> 


    <div class="col about-section">  
      <div class="col-sm-6 col-md-8 col-md-offset-2">
        <div class="panel panel-default slideInRight">
          <div class="panel-heading" style="text-align: center; font-size:20px"><b>Wishlist</b></div>
          <div class="panel-body panel-transparent">
            <p id="createlisting">Looking for a book but can't find it anywhere? Sick and tired of going through all these different websites everyday with a slim amount of hope that it will somehow be available? No need to do that anymore! UMass Bookshare allows you to add a book to your wishlist so you don't have to waste YOUR time. Once you add your book to your wishlist all that's left for you to do is nothing! UMass Bookshare will send you an email if the book has become available on the web app, so join today!</p>
          </div>
        </div>
      </div>
    </div> 



    <div class="col about-section">  
      <div class="col-sm-6 col-md-8 col-md-offset-2">
        <div class="panel panel-default slideInRight">
          <div class="panel-heading" style="text-align: center; font-size:20px"><b>Support</b></div>
          <div class="panel-body panel-transparent">
            <p id="createlisting">If you still have more questions, please email bookshareumass@gmail.com</p>
          </div>
        </div>
      </div>
    </div> 
	
	</div> <!-- container-fluid-->
	<% include includes/footer.ejs %>
</body></html>
