<!DOCTYPE html>

<html lang="en"><head>
  <title>UMass Bookshare Home</title>
  <% include includes/header.ejs %>
        <link href="/stylesheets/homepage.css" rel="stylesheet" type="text/css"/> 
</head>

<body>
  <% include partials/navbarlogin.ejs %>
  <!-- Page Content -->
  <div class="container-fluid">
    <!-- <div class="row"> -->
      <% include partials/searchbar.ejs %>

        <!--Search results-->
        <div class="col-sm-8 col-sm-offset-2">
        <% include partials/carousel.ejs %>
          <!-- <div id="wrapper"> -->
            <div id="columns">
            <% for(var i = 0; i < recent.length; i++) { %>
              <%- include('partials/resultbox.ejs', {data: recent[i]}) %>
            <% } %>
            </div>
          <!-- </div> -->
        </div>

    <!-- </div> row -->
  </div><!--container-fluid-->
  
  <% include includes/footer.ejs %>
</body></html>