<!DOCTYPE html>

<html lang="en"><head>
  <title>Your Wishlist</title>
  <% include includes/header.ejs %>
  <!-- <link href="/stylesheets/search.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
  <% include partials/navbar.ejs %>
  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <% include partials/sidebar.ejs %>
      <% include partials/searchbar.ejs %>

      <!--Page stuff-->
      <div class="col-sm-8 col-sm-offset-2 main">          
        <p>You do not have a wish list!</p>
   
        <!-- Add pagination -->
      </div><!--Homepage stuff-->

    </div> <!--row-->
  </div><!--container-fluid-->

  <% include includes/footer.ejs %>
</body></html>