<!DOCTYPE html>
<html lang="en"><head>
  <title>Meet the Team</title>
  <% include includes/header.ejs %>
  <link href="/stylesheets/about.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <% include partials/navbar.ejs %>

  <!-- Page Content -->
  <div class="container-fluid">

    <!-- Introduction Row -->
    <div class="row">

      <!-- About -->
      <!-- <div class="col-sm-8 col-sm-offset-2 main"> -->
      <div class="row about-section">
        <div class="col-sm-6 col-md-8 col-md-offset-2">
          <br>
          <div class="panel panel-default fadeIn">
            <div class="panel-heading" style="text-align: center; font-size:25px"><b>Our Team</b></div>
            <div class="panel-body panel-transparent">
              <p>UMass Bookshare aims to provide a more <b>convenient, efficient</b> way for students like us to get the books they need! Some students use Facebook groups, but it is highly ineffective. UMass BookShare will allow students to get their books more quickly as they are using an application that is devoted to the sharing of books and because all of the sellers are located on the <b>UMass campus</b>. It is cost-effective because students will not have to rely on the Textbook Annex and other students may be more sympathetic to the high cost of books. The application is also unique in that it allows students to share books with each other for <b>short periods</b> of time, rather than an entire semester. This is for those students who buy a textbook, only to use it once or twice! UMass Bookshare is also a more <b>sustainable</b> option as it eliminates the need for shipping and packaging.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row about-section">
        <!-- Team Members Row -->
        <div class="col-sm-6 col-md-8 col-md-offset-2">
          <br>
          <div class="panel panel-default fadeIn">
            <div class="panel-heading" style="text-align: center; font-size:25px"><b>About UMass Bookshare</b></div>
              <div class="panel-body panel-transparent">
                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="pichover flipInX peter memberblock img-responsive img-center" src="http://i.imgur.com/WWXFMgy.jpg">
                  <h3>Peter Chau
                  <!-- <br><small>Job</small> -->
                  </h3>
                  <!-- <p>i do job</p> -->
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="flipInX walter memberblock img-responsive img-center" src="http://i.imgur.com/6mpqynd.jpg">
                  <h3>Walter Doan
                      <!-- <br><small>Minion Pusheen</small> -->
                  </h3>
                  <!-- <p>Huh?</p> -->
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="flipInX amy memberblock img-responsive img-center" src="http://i.imgur.com/e9nJA3V.jpg">
                  <h3>Amy Jiang
                      <!-- <br><small>Mechanic</small> -->
                  </h3>
                  <!-- <p>Fix de broked tings</p> -->
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="flipInX qiwen memberblock img-responsive img-center" src="http://i.imgur.com/FDD7EPv.jpg">
                  <h3>Qiwen Wang
                      <!-- <br><small>Biker</small> -->
                  </h3>
                  <!-- <p>Biker memoirs.</p> -->
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="flipInX piers memberblock img-responsive img-center" src="http://i.imgur.com/McZfxdb.jpg">
                  <h3>Piers Calderwood
                      <!-- <br><small>Sequelizer</small> -->
                  </h3>
                  <!-- <p>Sequelizer sentiments justification.</p> -->
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="flipInX bianca memberblock img-responsive img-center" src="http://i.imgur.com/1OVF9q7.jpg">
                  <h3>Bianca Tamaskar
                      <!-- <br><small>Church Builder</small> -->
                  </h3>
                  <!-- <p>Church building instructions.</p> -->
                </div>

                <div class="col-lg-4 col-sm-6 text-center">
                  <img class="flipInX chris memberblock img-responsive img-center" src="http://i.imgur.com/LraYGaD.jpg">
                  <h3>Chris Paika
                    <!-- <br><small>Trucker Stuff</small> -->
                  </h3>
                  <!-- <p>Description of trucker stuff.</p> -->
                </div>
              </div>
            </div> <!-- panel panel-default -->
        </div> <!-- col-sm-6 col-md-8 col-md-offset-2 -->
      </div> <!-- row about-sect-->

  </div> <!-- /.container-fluid -->
  
  <% include includes/footer.ejs %>
</body></html>