<!DOCTYPE html>

<html lang="en"><head>
  <title>Your Wishlist</title>
  <% include includes/header.ejs %>
  <!-- <link href="/stylesheets/search.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
  <% include partials/navbarlogin.ejs %>
  <!-- Page Content -->
  <div class="container-fluid">

    <div class="row">

      <!--Page stuff-->
      <div class="col-sm-8 col-sm-offset-2 main">          
      	<p><h1>My Wishlist</h1></p>
        <p><h5>Can't find a book you want? Add it to your <b>wishlist</b> and you will be notified by email once it has become available!</h5><br></p>

      	 <!--Search results-->
        <div class="row search-results">
          <% for(var i = 0; i < wishList.length; i++) { %>
	          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                 <img src=<%= wishList[i].cover%>>
                <div class="caption">
                <!-- titel and author -->
                  <h5><a href="#"><%= wishList[i].title %></a>
                    <br>by <%= wishList[i].author %>
                  </h5>
                </div> <!-- caption -->
              </div>
            </div>
          <% } %>
        </div><!--Search results-->

        <div class="row">
          <div class="col-md-8">
            <!-- add things to wishlist -->
            <h2>Add a Book to Your Wishlist</h2>
            <form action="/addtowishlist" method="post">
              <div class="form-horizontal">

                <div class="form-group">
                  <div class="col-sm-8">
                    <p><input type="isbn13" class="form-control" name="isbn13" maxlength="15" placeholder="ISBN-13">
                    <button type="submit" class="form-control btn btn-success btn-md">Add to Wishlist</button></p>
                  </div> <!--col-sm-8-->
                </div> <!--form-group-->

              </div> <!-- form-horizontal -->

              <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
  <!--                 <button type="submit" class="form-control btn btn-success btn-md">Add to Wishlist</button> -->
              </div> <!--col-sm-8-->
              </div> <!--form-group-->
            </form>
          </div>
        </div>
   
        <!-- Add pagination -->
      </div><!--Homepage stuff-->

    </div> <!--row-->
  </div><!--container-fluid-->

  <% include includes/footer.ejs %>
</body></html>