<!DOCTYPE html>

<html lang="en"><head>
  <title>Your Wishlist</title>
  <% include includes/header.ejs %>
  <!-- <link href="/stylesheets/search.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
  <% include partials/navbarlogin.ejs %>
  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">

      <!--Page stuff-->
      <div class="col-sm-8 col-sm-offset-2 main">          
      	<p><h1>My Wishlist</h1></p>

      	 <!--Search results-->
        <div class="row search-results">
          <% for(var i = 0; i < wishList.length; i++) { %>
	          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <img src="/homepage_files/320x150">
                <div class="caption">
                <!-- titel and author -->
                  <h5><a href="#"><%= wishList[i].title %></a>
                    <br>by <%= wishList[i].author %>
                  </h5>
                </div> <!-- caption -->
              </div>
            </div>
          <% } %>
          
        </div><!--Search results-->
   
        <!-- Add pagination -->
      </div><!--Homepage stuff-->

    </div> <!--row-->
  </div><!--container-fluid-->

  <% include includes/footer.ejs %>
</body></html>