<html>
<head>
<title>Upload Photo</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
<% include /includes/header.ejs %>
<% include /partials/navbarlogin.ejs %>
</script>
</head>

<body>
  <div id="header"></div>
  <div id="footer"></div>
  <script> 
  $(function(){
  $("#header").load("includes/header.ejs"); 
  $("#footer").load("partials/navbarlogin.ejs"); 
});
</script>

	<form method="post" action ="/images/upload" enctype="multipart/form-data">
	  <input type="text" name ="name" value ="001"/>
	  <input type="file" name ="images" />
	  <br />
	  <input type="submit" value= "post"/>
	</form>

</body>
</html>
