<div class="item col-xs-4 col-lg-4">
    <div class="thumbnail">
        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
        <div class="caption">
            <h5 class="group inner list-group-item-heading">
               <b><%= data.title %></b></h5>
            <p class="group inner list-group-item-text">
               by <%= data.author %></p>
            <div class="row">
                <div class="col-md-6 col-md-6">
                    <form action="/editlisting" method="post">
						          <button type="submit" class="form-control btn btn-warning btn-sm">Edit Listing</button>
						          <input type="hidden" name="listid" value="<%=data.listid%>">
					        </form>
               </div>
            </div>
        </div>
    </div>
</div>