
<div class="col-xs-6 col-sm-2 placeholder">
  <img data-src="holder.js/200x200/auto/sky" src="<%=data.cover%>" data-holder-rendered="true">
  <h4><%=data.title%></h4> <!--Get title-->
  <span class="text-muted">by <%=data.author%></span> <!--Get Author-->
     <p>
        <form action="/editlisting" method="post">
          <button type="submit" class="form-control btn btn-success btn-sm">Edit Listing</button>
          <input type="hidden" name="listid" value="<%=data.listid%>">
        </form>
      </p>

</div> <!--col-xs-6 col-sm-2 placeholder-->